.table .thead-dark th {
    color: #fff;
    background-color: hsl(2, 77%, 70%);
    border-color: #ed7a77;
}
th.img_principal {
    /* height: 150px; */
    width: 100px;
}
.h5, h5 {
    font-size: 1.25rem;
    float: right;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    margin-top: 3rem;
    margin-left: 17rem;
    width: 70%;
    text-align: center;

}
.campo{
    padding-top:3rem;
}