body{
    background-color: rgb(238, 237, 231);
}
header{
    background-color: rgb(245, 136, 154);
    text-align: center;
    color: white; 
    font-style: oblique;
    height: 10%;
}
.logo2{
    text-align: center;
}
h1{
    font-style: roboto;
    text-align: center;
    background-color: rgb(240, 188, 197);
    color:white;
}
.envio{
    width: 20px;
    height: 20px;

}
.carrito{
    width: 35px;
    height: 35px;
}
.login{
    width: 25px;
    height: 25px;
}
.navbar-brand{
    color:rgb(238, 237, 231);
}
.nav-link{
    color:rgb(238, 237, 231);
    font-size: 20px;
}
.logo{
    width: 8%;
    height: 8%;
    
}
.card{
    float: left;
    margin: 20px;
}
section{
    height: 80%;
    background-color: white;
  
}
.redsocial{
    padding-top: 1px;
    width: 30px;
    height: 30px;
}
#navegacion{
    height: 10%;
}
.container_card{
    background-color: white;
    height: auto;
}
.footer{
    background-color:rgb(245, 136, 154);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
   
}
.footer2{
    background-color:rgb(245, 136, 154);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    margin-top: 20px;
}
.contenedor{
  display: flex;
    
}
.container_section{
  display:flex;
  justify-content:center;
  box-sizing:border-box"
}
/*footer background-color:rgb(250, 187, 198);  margin-top: 1070px;
    height: 200px;   
    display: block;