body{
    background-color: rgb(238, 237, 231);
}
header{
    background-color: rgb(245, 136, 154);
    text-align: center;
    color: white; 
    font-style: oblique;

}
.logo2{
    text-align: center;
    padding-left: 20px;
}
h1{
    font-style: oblique;
    text-align: center;
    background-color: rgb(241, 211, 216);
    color:rgb(148, 146, 52);
    
}
h5{
    font-style: italic;
    color: black;
    text-align: center;
}
p{
    font-style: italic;
    color: red;
    text-align: center;
}
.envio{
    width: 20px;
    height: 20px;

}
.carrito{
    width: 25px;
    height: 25px;
}

.login{
    width: 25px;
    height: 25px;
}
.navbar-brand{
    color:rgb(238, 237, 231);
}


.nav-link{
    color:rgb(238, 237, 231);
    font-size: 20px;
}
.logo{
    width: 8%;
    height: 8%;
    
}
.card{

    float: left;
    margin-right: 60px;
    margin-top: 50px;
    margin-left: 100px;
    display:flex;
    margin-bottom: 85px;
}
hr{
    color: black;
    
}

#cards{
    
    position: absolute;
    margin-top: 50px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

.redsocial{
    padding-top: 10px;
    width: 40px;
    height: 40px;
}

.footer{
    background-color:rgb(250, 187, 198);
    margin-top: 2200px;

}

@media (max-width:277px) and (min-width:0px) {
    
    #cards{
        height:915px;
    }

} 
@media (max-width:419px) and (min-width:278px) {
    
    #cards{
        height:600px;
    }

} 

@media (max-width:767px) and (min-width:420px) {
    
    #cards{
        height:378px;
    }
} 

@media (max-width:991px) and (min-width:768px) {
    
    
} 

@media (max-width:1199px) and (min-width:992px) {

    
} 

@media (max-width:5000px) and (min-width:1200px) {
    
} 