<div class="header">
  ENVIO GRATIS A TODA COLOMBIA
    <img class="envio" src="assets/imagen_otras/avion-de-papel.png" alt="icono envio">
</div>

<div class="logo2">
    <img class="logo" src="assets/imagen_otras/logo G-ONE.png" alt="logo">    
</div>

<div class="barra">
<nav class="navbar navbar-expand-sm navbar-light bg-light" class="barra">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="componentes/homepage/homepage.component.html">Inicio</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Blusas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Vestidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pantalones</a>
            </li>         
            <li class="nav-item">
                <a class="nav-link" href="#">Faldas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Vestidos de Baño</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
            </li>
        </ul>
        <form>
            <img src="assets/imagen_otras/carrito.png" class="carrito" alt="carrito de compras">
            <a src="http://localhost:4200/registro" > <img src="assets/imagen_otras/usuario.png" class="login" alt="usuario"></a>
        </form>
    </div>
</nav>
</div>
//52 1 51 05
<li class="nav-item" *ngif="!usuarioservice.estadoiniciado">
    <a class="nav-link" routerlink="/login">Iniciar Sesion</a>
</li>
<li class="nav-item" *ngif="!usuarioservice.estadoiniciado">
    <a class="nav-link" routerlink="/registro">Registro </a>
</li>