<div id=container>
    <div id=contenedor>
      <a class="retornar" href="./index.html" ><h6>_X_ </h6></a><br>
    </div>
  <div id=container_Registro>
    
  <h1>G-One</h1>

<form class="row g-3">
  <div class="col-md-6">
    <label for="inputname" class="form-label">Primer nombre</label>
    <input type="name" class="form-control" id="inputEmail4" placeholder="info@gmail.com" [(ngmodel ='name')]>
  </div>
  <div class="col-md-6">
    <label for="inputsurname" class="form-label">Apellidos</label>
    <input type="surname" class="form-control" id="inputEmail4" placeholder="info@gmail.com" [(ngmodel ='surname')]>
  </div>
    <div class="col-md-6">
      <label for="inputemail" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="info@gmail.com"[(ngmodel ='email')]>
    </div>
    <div class="col-md-6">
      <label for="inputpassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="8 dig-may-min-num" [(ngmodel ='password')]>
    </div>
    <div class="col-md-6">
      <label for="inputpassword" class="form-label">Confirmar Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="8 dig-may-min-num" [(ngmodel ='password')]>
    </div>
    <div class="col-12">
      <label for="inputphone" class="form-label">Celular</label>
      <input type="number" class="form-control" id="inputphone" placeholder="300*******" [(ngmodel ='phone')]>
    </div>
    <div class="col-md-6">
      <label for="inputcity" class="form-label">Ciudad</label>
      <input type="text" class="form-control" id="inputCity" [(ngmodel ='city')]>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" style="background-color: coral; color: white; border-color: coral;">Registrar</button>
    </div>
</form>
</div>
</div>