<div id=container>
    <div id=contenedor>
      <a class="retornar" href="./index.html" ><h6>_X_ </h6></a><br>
    </div>
  <div id=container_Registro>
    
  <h1>G-One</h1>

<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="info@gmail.com">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Contrasena</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="8 dig-may-min-num">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Direccion (*opcional)</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Calle, Carrera #">
    </div>
    <div class="col-12">
      <label for="inputphone" class="form-label">Celular</label>
      <input type="text" class="form-control" id="inputphone" placeholder="300*******">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Ciudad</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">País</label>
      <input type="text" class="form-control" id="inputState">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" style="background-color: coral; color: white; border-color: coral;">Registrar</button>
    </div>
</form>
</div>
</div>