<div id=container>
    <div id=contenedor>
      <a class="retornar" href="./index.html" ><h6>_X_ </h6></a><br>
    </div>
   <div id=container_login>
    
    <h1>G-One</h1>
  <div id="usuario">
    <img src="assets/imagen_otras/usuario.png" alt="usuario">
  </div>
  <form class="row g-3">
      <div class="col-md-12">
        <label for="inputEmail4" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="info@gmail.com">
      </div>
      <div class="col-md-12">
        <label for="inputPassword4" class="form-label">Contrasena</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="8 dig-may-min-num">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" style="background-color: coral; color: white; border-color: coral;">Ingresar</button>
      </div>
    <div>
      <a class="nuevoregistro"  href="RegistroComponent" ><h6>¿No estas registrado? - Registrate aquí</h6></a>
    </div>
  </form>
  </div>
 </div>